<div class="container-fluid">
    <section style="background-image:url('images/skin/bg_blue.jpg');background-size:cover;">
        <div class="row"><br><br>
            <h1 class="letterpress pull-center">Lutece Developer Tools</h1>
            <p class="lead pull-center"></p>
            <br><br>
        </div><br><br><br>
    </section>
    <section class="section-dk">
        <div class="row">
            <div class="col-md-4">
                <ul class="card">
                    <li>
                        <a href="/new"><i class="fa fa-rocket fa-4x" style="font-size:96pt;"></i></a>
                        <h4>
                            Quickly create a plugin using <b>PluginWizard</b>
                        </h4>
                    </li>
                    <li class="foot">
                        <a href=jsp/site/Portal.jsp?page=pluginwizard" title="Generate a plugin with PluginWizard" class="btn btn-huge btn-block">Generate a plugin</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="card">
                    <li>
                        <a href="/new"><i class="fa fa-code fa-4x" style="font-size:96pt;"></i></a>
                        <h4>
                            Quickly generate code for a single class using <b>Code Wizard</b>
                        </h4>
                    </li>
                    <li class="foot">
                        <a href="jsp/site/Portal.jsp?page=codewizard" title="Generate a class with PluginWizard" class="btn btn-huge btn-block">Generate a class</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="card">
                    <li>
                        <a href="/new"><i class="fa fa-wrench fa-4x" style="font-size:96pt;"></i></a>
                        <h4>
                            Generate a <b>Maven POM</b> for your site or application to build it with the command <b>mvn lutece:site-assembly</b>
                        </h4>
                    </li>
                    <li class="foot">
                        <a href="jsp/site/Portal.jsp?page=createsitepom" title="Generate your Maven POM" class="btn btn-huge btn-block">Build your pom.xml</a>
                    </li>
                </ul>
            </div>
        </div><!--/row-->
        <br><br><br> 
    </section>
</div>